<div class="card">
      <div class="card-body">
           <%= form_for @institucion.funcionarios.build do |form| %>
                <%= form.hidden_field :institucion_id, value: @institucion.id %>
                    <h5 class="card-title mb-4">Informacion de Funcionarios</h5>
                    <form class="forms-sample">
                      <div class="field">
                        <%= form.label :nombre %>
                        <%= form.text_field :nombre, id: :funcionario_nombre, class:'form-control p-input' %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :apellido %>
                        <%= form.text_field :apellido, id: :funcionario_apellido, class:'form-control p-input' %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :celular %>
                        <%= form.text_field :celular, id: :funcionario_celular, class:'form-control p-input' %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :telefono %>
                        <%= form.text_field :telefono, id: :funcionario_telefono, class:'form-control p-input' %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :correo %>
                        <%= form.text_field :correo, id: :funcionario_correo, class:'form-control p-input' %>
                      </div>
                      <div class="field">
                          <%= form.label :Ci %>
                          <%= form.text_field :ci, id: :funcionario_correo, class:'form-control p-input' %>
                        </div>


                         <table class="table">
                     <thead>
                         <th scope="col">Especializado en:</th>
                     </thead>
                    <tbody>
                    <tr>
                    <form class="forms-sample">
                     
                        <tr>
                           <td><div class="field">
                         <%= form.label :Materias_Peligrosas %>
                         <%= form.check_box :materiaspeligrosas, id: :materiaspeligrosas , class:'form-control p-input'%>
                         </div>
                         </td>
                          <td>
                          <div class="field">
                            <%= form.label :Estructuras_Colapsadas %>
                            <%= form.check_box :estructurascolapsadas, id: :estructurascolapsadas , class:'form-control p-input'%>
                         </div>
                         </td>
                         <td>
                          <div class="field">
                            <%= form.label :Busqueda_Rescate %>
                            <%= form.check_box :busquedayrescate, id: :busquedayrescate , class:'form-control p-input'%>
                         </div>
                         </td>
                          <td>
                          <div class="field">
                            <%= form.label :Rescate_Acuatico %>
                            <%= form.check_box :rescateacuatico, id: :rescateacuatico , class:'form-control p-input'%>
                         </div>
                         </td>
                           <td>
                          <div class="field">
                            <%= form.label :Manejador_Perros %>
                            <%= form.check_box :manejadordeperros, id: :manejadordeperros , class:'form-control p-input'%>
                         </div>
                         </td>


                          </tr>
                        <td>
                         <div class="field">
                          <%= form.label :Incendios_Urbanos %>
                            <%= form.check_box :extinciondeincendiosurbanos, id: :extinciondeincendiosurbanos , class:'form-control p-input'%>
                        </div>
                      </td>
                      <td>
                      <div class="field">
                        <%= form.label :Incendios_Forestales %>
                            <%= form.check_box :extinciondeincendiosforestales, id: :extinciondeincendiosforestales , class:'form-control p-input'%>
                        </div>
                      </td>
                      <td><div class="field">
                           <%= form.label :Medico %>
                            <%= form.check_box :medico, id: :medico , class:'form-control p-input'%>
                        </div>
                      </td>
                      <td>
                        <div class="field">
                           <%= form.label :Soporte_Vida %>
                            <%= form.check_box :soportebasicodevida, id: :soportebasicodevida , class:'form-control p-input'%>
                        </div>
                    </td>
                     <td>
                        <div class="field">
                           <%= form.label :Primeros_Auxilios %>
                            <%= form.check_box :asistentedeprimerosauxilios, id: :asistentedeprimerosauxilios , class:'form-control p-input'%>
                        </div>
                    </td>
                    </tr>  
                    <tr>
                       <td>
                        <div class="field">
                           <%= form.label :Instructor_CPI %>
                            <%= form.check_box :intructorcpi, id: :intructorcpi , class:'form-control p-input'%>
                        </div>
                    </td>
                    </tr> 
                    </tbody>
                    </table>
           
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Guardar Funcionario</button>
                        </div>
                    </form>
                    </body>
                <% end %> 
  </div>
</div>
</div>
</div>