<div class="panel panel-info">
<div class="panel-heading"><h4 class="panel-title" style="text-align:center">Especialidades de las Instituciones</h4></div>
  <div class="panel-body" >
    <canvas id="bar-chart" width="800" height="250"></canvas>
  </div>
  <div class="panel-footer"></div>
</div>
<div class="panel panel-success">
  <div class="panel-heading"><h4 class="panel-title" style="text-align:center">Instituciones tipo</h4></div>
    <div class="panel-body">
      <canvas id="chart" width="800" height="500"></canvas>
      <table id="chartData">
    <tr>
      <th>Instituciones</th><th>Total (#)</th>
     </tr>

    <tr style="color: #0DA068">
      <td>Publica</td><td><%=@publica%></td>
    </tr>

    <tr style="color: #194E9C">
      <td>Privada</td><td><%=@privada%></td>
    </tr>
 
    <tr style="color: #ED9C13">
      <td>Sin fines de Lucro</td><td><%=@sinlucro%></td>
    </tr>

    <tr style="color: #ED5713">
      <td>Voluntario</td><td><%=@voluntarios%></td>
    </tr>
<!--
    <tr style="color: #057249">
      <td>Administrador</td><td>0</td>
    </tr>

    <tr style="color: #5F91DC">
      <td>General</td><td>0</td>
    </tr>
    
  
   
    <tr style="color: #788E5D">
      <td>Noviembre</td><td>6</td>
    </tr>
    <tr style="color: #623E5D">
      <td>Diciembe</td><td>1</td>
    </tr>
    -->
  </table>
  <div hidden class="wideBox">
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <h5 class="card-title mb-4">Informacion de Instituciones</h5>
</h3>
<form>
      <input name="q" <%= @q %> >
      <button type="submit">Buscar</button>
      </form>
  </div>
  <div class="panel-body">
    <table class="table table-dark">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Personaencargada</th>
     <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institucions.each do |institucion| %>
      <tr>
        <td><%= institucion.nombre %></td>
        <td><%= institucion.personaencargada %></td>
        
        <td><%= link_to 'Mostrar', institucion, :class => 'btn btn-primary'%></td>
        <td><%= link_to 'PDF', hojaderecurso_path(institucion  , :format => :pdf) , :class => 'btn btn-primary'%></td>
        <td><%= link_to 'Editar', edit_institucion_path(institucion), :class => 'btn btn-warning'%></td>
        <td><%= link_to 'Eliminar', institucion, method: :delete, data: { confirm: 'Are you sure?' } ,:class => 'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
  <div class="panel-footer"><%= link_to 'Nueva Institucion', new_institucion_path, :class => 'btn btn-info'%></div>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
<script>
// Bar chart
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: ["Accesibilidad y transporte", "Busqueda con perros", "Telecomunicaciones", "Evaluacion de daños", "Servicios Publicos", "Manejo de Materiales","Salvamiento Acuatico", "Busqueda y rescate en altura", "Salud y saneamiento","Extincion de incendios urbanos", "Incendios Forestales"],
      datasets: [
        {
          label: "Instituciones (Cantidad Total)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#8E44AD","#F5B041" ,"#a23185 " ,"#a72550","#E74C3C","#F7DC6F"],
          data: [<%=@actransporte%>,<%=@busquedaperros%>,<%=@telecomunicaciones%>,<%=@evaluaciondaños%>,<%=@serviciospublicos%>,<%=@manejomateriales%>,<%=@salvamientoacuatico%>,<%=@busquedaaltura%>,<%=@salud%>,<%=@incendioshurbanos%>,<%=@incendiosforestales%>]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Instituciones'
      }
    }
});
</script>


                   





