<div class="container">

    <h3 class="text-primary mb-4">Hoja de institucion</h3>
                                        <h5>Datos Generales</h5>
<h5>  Institucion </h3>

  <div class="accordion-option">
 
    <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
  </div>
  <div class="clearfix"></div>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">  
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5>Datos Generales</h5>
        </a>
      </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
  <div class="field">
    <strong>Nombre:</strong>
    <%= @institucion.nombre %>
  </div>
<table class="table">
  <tbody>
    <tr>
      <td><div class="field">
       <strong>Persona Encargada:</strong>
        <%= @institucion.personaencargada %>
  </div>
</td>
    <td><div class="field">
   <strong>Cargo</strong>
   <%= @institucion.cargo %>
  </div>
  </td>
  </tr>

    <tr>
      <td><div class="field">
    <strong>Direccion</strong>
    <%= @institucion.direccion %>
    </div></td>
    </tr>

    <tr>
      <td><div class="field">
   <strong>Departamento</strong>
   <%= @institucion.departamento %>
  </div></td>
      <td> <div class="field">
    <strong>Municipio</strong>
    <%=@institucion.municipio %>
  </div></td>
  <td><div class="field">
   <strong>Localidad</strong>
   <%= @institucion.localidad%>
  </div></td>
    </tr>
    <tr>
     
      <td><div class="field">
      
    <strong> Telefono </strong>
    <%= @institucion.telefono %>
  </div></td>
    <td><div class="field">
    <strong> Fax </strong>
    <%= @institucion.fax %>
  </div></td>
      <td>
  <div class="field">
    <strong> Pagina web </strong>
    <%= @institucion.paginweb %>
  </div></td>
    </tr>
    <tr><td>
     <div class="field">
    <strong> Nombre Contacto </strong>
    <%= @institucion.nombrecontacto %>
  </div>
    </td></tr>
     
  <tr>
    
  <td> <div class="field">
    <strong> Cargo </strong>
    <%= @institucion.cargi %>
  </div></td>
      <td>
  <div class="field">
    <strong> Tiempo en el Cargo </strong>
    <%= @institucion.tiempoencargo %>
  </div></td>
    </tr>
  <tr>
      
    <td> <div class="field">
    <strong> Celular </strong>
    <%= @institucion.celular %>
  </div></td>
      <td>  <div class="field">
        <strong> Correo Electronico </strong>
    <%= @institucion.email %>
  </div></td>
    </tr>
  </tbody>
</table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
       <h5>Como se clasifica la institucion?</h5>
        </a>
      </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">


<table class="table">
  <thead>

  </thead>
  <tbody>
    <tr>
    <td><div class="field">
      <strong> Institucion publica </strong>
      <%= @institucion.institucionpublica %>
  </div>
  </td>
      <td><div class="field">
    <strong> Detalle </strong>
    <%= @institucion.detalle %>
  </div></td>
     
    </tr>
    <tr>
    
    <td><div class="field">
    <strong> Institucione Privada </strong>
    <%= @institucion.institucionprivada %>
    </div>
    </td>

      <td> 
        <div class="field">
          <strong> Detalle </strong>
          <%= @institucion.detalleprivado %>
        </div>
      </td>
     
    </tr>
    <tr>
      
    <td> <div class="field">
    <strong> Institucione Sin Fines de Lucro </strong>
    <%= @institucion.sinfinesdelucro %>
  </div></td>
      <td> <div class="field">
       <strong> Detalle </strong>
        <%= @institucion.detallesinfinesdelucro %>
  </div>
</td>
      <tr>
      
      <td> <div class="field">
       <strong> Grupo de Voluntarios </strong>
    <%= @institucion.grupovoluntario %>
      </div>
    </td>
     
    </tr>

  <tr>
    <td>
    <div class="field">
    <strong> COE </strong>
    <%= @institucion.coe %>
  </div>
    </td>
    </tr>
    <tr>
      
      <td><div class="field">
    <strong> COE NACIONAL </strong>
    <%= @institucion.coenacional %>
  </div>
  </td>
    <td>
    <div class="field">
    <strong> COE DEPARTAMENTAL </strong>
    <%= @institucion.coedepartalemtal %>
  </div>
</td>
      <td><div class="field">
    <strong> COE MUNICIPAL </strong>
    <%= @institucion.coemunicipal %>
  </div></td>
    </tr>
    
    <tr>
      <td> <div class="field">
    <strong> Mesas Sectorailes </strong>
    <%= @institucion.mesassectoriales %>
  </div></td>
    </tr>

    <tr>
      
      <td> <div class="field">
          <strong> Salud </strong>
    <%= @institucion.salud %>
  </div></td>
      <td>  <div class="field">
          <strong> Educacion </strong>
    <%= @institucion.educacion %>
  </div></td>
    </tr>
    <tr>
     
      <td> <div class="field">
          <strong> Agua y sanamiento </strong>
    <%= @institucion.aguaysaneamiento %>
  </div></td>
      <td> <div class="field">
          <strong> Seguridad Alimentaria </strong>
    <%= @institucion.seguridadalimentaria %>
  </div></td>
    </tr>

    <tr>
     
    <td>
    <div class="field">
    <strong> Gobernabilidad y Proteccion </strong>
    <%= @institucion.gobernabilidadproteccion %>
   
  </div></td>
      <td> <div class="field">
          <strong> Albergues </strong>
    <%= @institucion.albergues %>
  </div></td>
    </tr>
    <tr>
      <td>  <div class="field">
          <strong> Recuperacion </strong>
    <%= @institucion.recuperacion %>
  </div></td>
    </tr>
    <tr>
      
    <td> <div class="field">
    <strong> Comisiones Departamentales </strong>
    <%= @institucion.comisionesdepartales %>
  </div></td>
      <td> 
  <div class="field">
    <strong> Detalle Comisiones </strong>
    <%= @institucion.detallecomisiones %>
  </div></td>
    </tr>

<tr>
      
      <td><div class="field">
    <strong> Comisiones Municipales Coed </strong>
    <%= @institucion.comisionesmunicipalesCOEM %>
  </div></td>
      <td>  <div class="field">
        <strong> Detalles Coem </strong>
    <%= @institucion.detallesCOEM %>
  </div></td>
    </tr>

    <tr>
      
      <td> <div class="field">
          <strong> DGR </strong>
    <%= @institucion.dgr %>
  </div></td>
      <td> <div class="field">
          <strong> UGR </strong>
    <%= @institucion.ugr %>
  </div></td>
      <td> <div class="field">
    <strong> UNETE </strong>
    <%= @institucion.unete %>
  </div></td>
    </tr>

    <tr>
    
      <td>
  <div class="field">
    <strong> Grupo de socios para el desarrollo del Bolivia GRUS </strong>
    <%= @institucion.grus %>
   
  </div></td>
      <td><div class="field">
    <strong> Consorcio de ONG </strong>
    <%= @institucion.consorciodeong %>
  </div></td>
      <td><div class="field">
      <strong> Observatorios </strong>
    <%= @institucion.observatorios %>
  </div></td>
  <td><div class="field">
      <strong> Detalles de Observatorios </strong>
    <%= @institucion.detallesobservatorio %>

  </div>
</td>
    </tr>

    <tr>
     
      <td> <div class="field">
            <strong> Local </strong>
    <%= @institucion.local %>

  </div></td>
      <td> <div class="field">
    <strong> Detalles Local </strong>
    <%= @institucion.detalleslocal %>
   
  </div></td>
    </tr>
    <tr>
      <td>  <div class="field">
            <strong> Otros </strong>
            <%= @institucion.otros %>
  </div></td>
      <td>
  <div class="field">
        <strong> Otros Detalles </strong>
    <%= @institucion.otrosdetalle %>

  </div></td>
    </tr>
    <tr>
      
      <td><div class="field">
      <strong> Gestion de riesgos</strong>
    <%= @institucion.detallesobservatorio %>
  </div></td>
      <td> <div class="field">
            <strong> Seguridad </strong>
    <%= @institucion.mandatoseguridad %>
   
  </div></td>
      <td> <div class="field">
            <strong> Otro </strong>
    <%= @institucion.mandatootro %>
   
  </div></td>
    </tr>
  </tbody>
</table>
 
  <div class="field">
        <strong> Explicar </strong>
    <%= @institucion.mandatodetalle %>
  </div>

  <div class="field">
        <strong> Especialidaes en primero respuesta </strong>
    <%= @institucion.especialidadesmandato %>
  </div>

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapseThree">
              <h5>Que servicios brinda en primera respuesta</h5>
        </a>
      </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
  <table class="table">
  <thead>
  </thead>
  <tbody>
    <tr>
    
      <td>  <div class="field">
    <strong> Accebilidad y Transporte </strong>
    <%= @institucion.serviciotransporte %>

  </div></td>
      <td>  <div class="field">
      <strong> Busqueda con Perros </strong>
    <%= @institucion.serviciobusquedaperros %>
  </div></td>
   
    </tr>
    <tr>
     
      <td><div class="field">
    <strong> Telecomunicaciones </strong>
    <%= @institucion.serviciotelecomunicaciones %>
  </div></td>
      <td><div class="field">
      <strong> Extincion de incendios urbanos </strong>
    <%= @institucion.serviciosincendiosurbanos %>
  </div></td>
    </tr>
    <tr>
      <td><div class="field">
    <strong> Evanluacion de daños</strong>
    <%= @institucion.servicioevaluacion %>
  </div></td>
      <td> 
      <div class="field">
      <strong> extincion de incendios Forestales</strong>
    <%= @institucion.servicioincendioforestal %>
  </div></td>
    </tr>
  <tr>
      
      <td> <div class="field">
    <strong> Salud y Saneamiento</strong>
    <%= @institucion.serviciosaludysaneamiento %>
 
  </div></td>
      <td>  <div class="field">
          <strong> Manejo de Materiales Peligrosos</strong>
    <%= @institucion.serviciomanejomateriales %>
 
  </div></td>
    </tr>
    <tr>
      
      <td>
  <div class="field">
         <strong> Busqueda y rescate en superficies</strong>
    <%= @institucion.serviciobusquedayrescate %>
  </div></td>
      <td>  <div class="field">
       <strong> Servicios Publicos</strong>
    <%= @institucion.serviciospublicos %>
 
  </div></td>
      
    </tr>
    <tr>
      
      <td><div class="field">
             <strong> Busqueda y rescate en altura</strong>
    <%= @institucion.serviciobusquedayrescateenaltura %>
  </div></td>
      <td> <div class="field">
    <strong> Seguridad </strong>
    <%= @institucion.servicioseguridad %>
  </div></td>
    </tr>
    <tr>
      
  
      <td><div class="field">
    <strong> Salvamiento Acuatico </strong>
    <%= @institucion.salvamientoacuatico %>
  </div></td>
      <td> <div class="field">
    <strong> Manejo General </strong>
    <%= @institucion.manejogeneral %>
  </div></td>
    </tr>
  </tbody>
  
</table>
 <div class="field">
    <strong> Otros </strong>
    <%= @institucion.serviciodetalle %>
  </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapseThree">
          En que tipo de eventos adversos actua en primera respuesta  +
        </a>
      </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
 

                  







  <table class="table">
  <thead>
    
      <th scope="col"></th>
  
  </thead>
  <tbody>
    <tr>
      <td> <div class="field">
    <strong> Naturales </strong>
    <%= @institucion.respuestanaturales %>
  </div></td>
      
    </tr>
    <tr>
    <td><div class="field">
    <strong> Hidro Meteorologicas </strong>
    <%= @institucion.respuestahidrometeorologicas %>
  </div></td>
      <td>
  <div class="field">
    <strong> Inundaciones </strong>
    <%= @institucion.respuestainundaciones %>
  </div></td>
      <td> <div class="field">
       <strong> Riadas </strong>
       <%= @institucion.respuestariadas %>
  </div></td>
  <td> <div class="field">
       <strong> Vientos Fuertes </strong>
       <%= @institucion.respuestavientosfuertes %>
  </div></td>
  <td> <div class="field">
       <strong> Geologicas </strong>
       <%= @institucion.respuestageologicas %>
  </div></td>
    </tr>
    <tr>
      <td> <div class="field">
       <strong> Deslizamientos </strong>
       <%= @institucion.respuestadeslizamiento %>
  </div></td>
      <td> <div class="field">
       <strong> Derrumbes </strong>
       <%= @institucion.respuestaderrumber %>
  </div></td>
      <td>
  <div class="field">
      <strong> Sismos </strong>
       <%= @institucion.respuestasismos %>
  </div></td>
  <td> <div class="field">
       <strong> Otros </strong>
       <%= @institucion.respuestaotros %>
  </div></td>
  <td>
  <div class="field">
        <strong> Detalle </strong>
       <%= @institucion.respuestadetalle %>
  </div></td>
    </tr>
     <tr>
      <td scope="row">
  <div class="field">
   <strong> Socio Natural </strong>
       <%= @institucion.socionatural %>
  </div></td>
    </tr>
     <tr>
      <td><div class="field">
       <strong> Ambientales </strong>
       <%= @institucion.socioambiental %>
  </div></td>
      <td><div class="field">
       <strong> Incendios Ambiental </strong>
       <%= @institucion.socioincendio %>
  </div></td>
      <td> <div class="field">
       <strong> Otro </strong>
       <%= @institucion.sociootro %>
  </div></td>
  <td><div class="field">
      <strong> Detalle </strong>
      <%= @institucion.sociodetalle %>
  </div></td>
    </tr>
     <tr>
      <th scope="row"><div class="field">
        <strong> Antropicas </strong>
      <%= @institucion.antropicas %>
  </div></th>
    </tr>
     <tr>
  
      <td><div class="field">
        <strong> Incendios Urbanos </strong>
      <%= @institucion.antropicasincendios %>
  </div></td>
      <td>
  <div class="field">
     <strong> Otros </strong>
     <%= @institucion.antropicasotros %>
  </div></td>
    </tr>
     <tr>
      <td> <div class="field">
      <strong> Otros Socios</strong>
     <%= @institucion.otrossocios %>
  </div></td>
      <td>  <div class="field">
       <strong> Detalle</strong>
     <%= @institucion.otrosdetallessocios %>
  </div>
</td>
    </tr>
  </tbody>
</table>
<h5>que eventos son a los que da primera respuesta frecuentemente</h5>
  <div class="field">
     <strong> Eventos Frecuentes</strong>
     <%= @institucion.eventosfrecuentes %>
  </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapseThree">
         <h5>Cuales son sus capacidades</h5>
        </a>
      </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">

<table class="table">
  <thead>
    <h5>posee planes o protocolos de accion</h5>
  </thead>
  <tbody>
    <tr>
      <th scope="row">plan de contingencia</th>
      <td><div class="field">
        <strong> Plan de Contingencia</strong>
     <%= @institucion.plandecontingencia %>
  </div></td>
      <td> <div class="field">
      <strong> Plan de Casos</strong>
     <%= @institucion.planencasosi %>
  </div></td>
      
    </tr>
    <tr>

      <td>
  <div class="field">
     <strong> Tareas Protocolo</strong>
     <%= @institucion.tareasprotocolo %>
  </div></td>
  <td>
   <div class="field">
   <strong> Porcentaje de Respuesta </strong>
     <%= @institucion.porcentajerespuesta %>
  </div>
  </td>

    </tr>
    <tr>
      <td> <div class="field">
      <strong> Plan de Emergencia </strong>
     <%= @institucion.plandeemergencia %>

  </div></td>
      <td><div class="field">
    <strong> En casos de Emergencia </strong>
     <%= @institucion.encasosiemergencia %>
  </div></td>
  
    </tr>
      <tr>
      <td>  <div class="field">
      <strong> Tareas de Emergencias </strong>
     <%= @institucion.tareasemergencia %>

  </div></td>
    </tr>
       <tr>
      <td>  <div class="field">
           <strong> Protocolo de accion </strong>
            <%= @institucion.protocolodeaccion %>
  </div></td>
      <td> <div class="field">
           <strong> En caso que tenga Procologo </strong>
            <%= @institucion.encasosiprotocolo %>
  </div></td>
    </tr>
    <tr><td>  <div class="field">
            <strong> Area de Flujo </strong>
            <%= @institucion.areaflujo %>
  </div>
  </td>
    <td>  <div class="field">
          <strong> Area de Logistica </strong>
            <%= @institucion.arealogistica %>
  </div>
</td>
<td>
<div class="field">
        <strong> Area de Documentacion </strong>
            <%= @institucion.areadocumentacion %>

  </div>
</td>
  </tr>
   <tr>
      <td>  <div class="field">
            <strong> Area de Comunicaciones </strong>
            <%= @institucion.areacomunicaciones %>
  </div></td>
      <td>  <div class="field">
               <strong> Area de Transporte </strong>
            <%= @institucion.areatransporte %>
  </div></td>
      <td>  <div class="field">
            <strong> Area de Evaluacion de Emergencia </strong>
            <%= @institucion.areaevaluaciondemergencia %>
  </div></td>
    </tr>
     <tr>
      <td>  <div class="field">
      <strong> Area de Emergencia Medica</strong>
            <%= @institucion.areaemergenciamedica %>
  </div></td>
      <td>  <div class="field">
          <strong> Area de Movilizacion</strong>
            <%= @institucion.areamovilizacion %>
  </div></td>
      <td>  <div class="field">
            <strong> Area de Operaciones</strong>
            <%= @institucion.areaoperaciones %>
  </div></td>
    </tr>
     <tr>
      <td><div class="field">
       <strong> Area de Seguridad</strong>
       <%= @institucion.areaseguridad %>
  </div></td>
      <td>
  <div class="field">
      <strong> Area Otros</strong>
       <%= @institucion.areaotros %>
  </div></td>
      <td>  <div class="field">
      <strong> Area Detalle</strong>
       <%= @institucion.areadetalle %>
  </div></td>
    </tr>
     <tr>
      <td><div class="field">
      <strong> Activacion Automatica</strong>
       <%= @institucion.activacionesautomaticas %>
  </div></td>
    </tr>
     <tr>
      <td><div class="field">
      <strong> Medio Radio</strong>
       <%= @institucion.medioradio %>
  </div></td>
      <td>  <div class="field">
      <strong> Medio Televisivo </strong>
       <%= @institucion.mediotv %>
  </div></td>
      <td>
  <div class="field">
      <strong> Medio Frecuencia </strong>
       <%= @institucion.mediofrecuencia %>
  </div></td>
  <td><div class="field">
      <strong> Medio Llamadas </strong>
       <%= @institucion.mediollamadas %>
  </div></td>
  <td><div class="field">
     <strong> Otros Medios </strong>
       <%= @institucion.otros %>
  </div></td>
    </tr>
     <tr>
      <td> <div class="field">
        <strong> Medios Detalles</strong>
       <%= @institucion.mediosdetalles %>
  </div></td>
      <td>
  <div class="field">
  <strong> Requerimientos Superiores</strong>
       <%= @institucion.requerimientosuperios %>
  </div></td>
      <td> <div class="field">
       <strong> Detalles Requerimientos Superiores </strong>
       <%= @institucion.requerimientosuperiosdetalle %>
  </div></td>
    </tr>
     <tr>
      <td><div class="field">
       <strong> Detalles Requerimientos </strong>
       <%= @institucion.requerimientootrodetalle %>
  </div></td>
      <td>  <div class="field">
       <strong> Detalles Observaciones </strong>
       <%= @institucion.observaciones %>
  </div></td>
    </tr>
     <tr>
      <td>  <div class="field">
       <strong> Situacion Actual </strong>
       <%= @institucion.situacionesactual %>
  </div></td>
      <td>  <div class="field">
       <strong> Trabajos Iniciales  </strong>
       <%= @institucion.trabajosiniciales %>
  </div></td>
      <td><div class="field">
          <strong> Caracteristicas Estructurales  </strong>
       <%= @institucion.caracteristicasestructurales %>
  </div></td>
    </tr>
     <tr>
      <td>  <div class="field">
             <strong> Consideraciones Especiales  </strong>
             <%= @institucion.consideracionespeciales %>
  </div></td>
      <td>  <div class="field">
            <strong> Estado Tiempo  </strong>
             <%= @institucion.estadotiempo %>
  </div></td>
      <td> <div class="field">
            <strong> Mapas de Riesgos  </strong>
             <%= @institucion.mapasderiesgo %> 
  </div></td>
    </tr>
     <tr>
      <td>  <div class="field">
        <strong> Seguridad y Proteccion  </strong>
        <%= @institucion.seguridadyproteccion %>
  </div></td>
      <td> <div class="field">
       <strong> Planos del Lugar  </strong>
        <%= @institucion.planosdellugar %>
  </div></td>
      <td>  <div class="field">
      <strong> Evacuacion de Emergencia  </strong>
      <%= @institucion.evacuaionemergencia %>
  </div></td>
    </tr>
     <tr>
      <td>  <div class="field">
       <strong> Estadisticas  </strong>
      <%= @institucion.estadisticas %>
  </div></td>
      <td> <div class="field">
       <strong> Tema Salud  </strong>
      <%= @institucion.temasdesalud %>
  </div></td>
      <td><div class="field">
        <strong> Accion otros  </strong>
      <%= @institucion.accionotro %>
  </div></td>
    </tr>
    <h5>estan capacitados en sistema de comando de incedentes</h5>
     <tr>
      <td>
  <div class="field">
   <strong> Accion Detalle  </strong>
      <%= @institucion.acciondetalle %>
  </div></td>
      <td>

  <div class="field">
      <strong> Capacitados Accidentes  </strong>
      <%= @institucion.capacitadosincidentes %>
  </div>
</td>
      <td>  <div class="field">
      <strong> Capacitados en Observaciones  </strong>
      <%= @institucion.capacitadosobservaciones %>
  </div></td>
    </tr>
  </tbody>
</table>

  <div class="field">
    <strong> Cobertura Geografica  </strong>
      <%= @institucion.coberturageogracia %>
  </div>

  <div class="field">
      <strong> Brazos Operativos   </strong>
      <%= @institucion.brazosoperativosareas %>
  </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapseThree">
        <h5>Personal</h5>
        </a>
      </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Personal</th>
      <th scope="col">SI/NO</th>
      <th scope="col">Numero de Personas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Administrativo</td>
      <td>  <div class="field">
       <%= @institucion.recursoadministrativo %>
  </div></td>
      <td>  <div class="field">
       <%= @institucion.recursoadministrativo %>
  </div></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Operativo Total</td>
      <td>  <div class="field">
        <%= @institucion.recursosoperativo %>
  </div></td>
      <td>  <div class="field">
        <%= @institucion.recursosoperativopersonas %>
        <%= @institucion.funcionarios.count %>
  </div></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Operativo Activo</td>
      <td>  <div class="field">
          <%= @institucion.operativoactivo %>
  </div></td>
      <td><div class="field">
            <%= @institucion.operativoactivopersonas %>
  </div></td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td>Reserva</td>
      <td> <div class="field">
            <%= @institucion.pasivosenreserva %>
  </div></td>
      <td>  <div class="field">
            <%= @institucion.pasivosenreservapersonas %>
  </div></td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td>Primera Respuesta a incidentes con materias peligrosas</td>
      <td>  <div class="field">
         <%= @institucion.primap %>
  </div>
</td>
      <td>  <div class="field">
       <%= @institucion.primapersonas %>
  </div></td>
    </tr>
        <tr>
      <th scope="row">6</th>
      <td>Rescate en Estructuras Copalsadas Nivel Liviano(CRECL)</td>
      <td> <div class="field">
        <%= @institucion.crecl %>
  </div></td>
      <td>  <div class="field">
       <%= @institucion.creclpersonas %>
  </div></td>
    </tr>
        <tr>
      <th scope="row">7</th>
      <td>Busqueda y rescate en estructuras colapsadas(BREC)</td>
      <td>
  <div class="field">
         <%= @institucion.brec %>
  </div></td>
      <td>  <div class="field">
               <%= @institucion.brecpersonas %>
  </div></td>
    </tr>
        <tr>
      <th scope="row">8</th>
      <td>Busqueda y Rescate Acuatica</td>
      <td>
  <div class="field">
    <%= @institucion.especidalidadrescateactuatico %>
  </div></td>
      <td><div class="field">
          <%= @institucion.especialidadrescatepersonas %>
    </div></td>
    </tr>
      <tr>
      <th scope="row">9</th>
      <td>Manejador de Perros</td>
      <td> <div class="field">
      <%= @institucion.manejadorperros %>
  </div></td>
      <td>
  <div class="field">
      <%= @institucion.manejadorperrospersona %>
  </div></td>
    </tr>
      <tr>
      <th scope="row">10</th>
      <td>Sistema de comando de incedentes (CBSCI)</td>
      <td>
  <div class="field">
        <%= @institucion.cbsci %>
  </div></td>
      <td> <div class="field">
              <%= @institucion.cbscipersonas %>
  </div>
</td>
    </tr>
      <tr>
      <th scope="row">11</th>
      <td>Extincion de incendios urbanos</td>
      <td><div class="field">
      <%= @institucion.extincionincendiosurbanos %>
  </div></td>
      <td>
  <div class="field">
        <%= @institucion.extincionserviciosurbanospersonas %>
  </div></td>
    </tr>
      <tr>
      <th scope="row">12</th>
      <td>Incendios Forestales</td>
      <td> <div class="field">
      <%= @institucion.incendiosforestales %>
      </div></td>
      <td>  <div class="field">
      <%= @institucion.incendiosforestalespersonas %>
      </div></td>
      </tr>
      <tr>
      <th scope="row">13</th>
      <td>Medicos</td>
      <td>

  <div class="field">
    <%= @institucion.medicos %>
  </div></td>
      <td>  <div class="field">
          <%= @institucion.numeromedicos %>
  </div></td>
    </tr>
      <tr>
      <th scope="row">14</th>
      <td>Soporte basico de vida (SBV)</td>
      <td>  <div class="field">
      <%= @institucion.sbv %>
     </div></td>
      <td>
  <div class="field">
    <%= @institucion.sbv %>
  </div></td>
    </tr>
      <tr>
      <th scope="row">15</th>
      <td>Asistente de primeros auxilios avanzado (APAA)</td>
      <td><div class="field">
          <%= @institucion.appa %>
  </div></td>
      <td>
  <div class="field">
    <%= @institucion.appapersonas %>
  </div></td>
    </tr>
      <tr>
      <th scope="row">16</th>
      <td>Instrutores CPI</td>
      <td>  <div class="field">
      <%= @institucion.cpi %>
  </div></td>
      <td><div class="field">
            <%= @institucion.cpipersonas %>
  </div></td>
    </tr>
      <tr>
      <th scope="row">17</th>
      <td>Comunicaciones</td>
      <td>  
  <div class="field">
      <%= @institucion.especilidadcomunicaciones %>
  </div></td>
      <td>  <div class="field">
      <%= @institucion.especidalidadcomunicacionespersonas %>
  </div>
</td>
    </tr>
      <tr>
      <th scope="row">18</th>
      <td>Logistica</td>
      <td>  <div class="field">
      <%= @institucion.especialidadlogistica %>
  </div></td>
      <td>
  <div class="field">
          <%= @institucion.especialidadlogicasticapersonas %>
  </div></td>
    </tr>
  </tbody>
</table>
        </div>
      </div>
    </div>
     <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapseThree">
            <h5>Equipamiento</h5>
        </a>
      </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Tipo de vehiculos disponibles</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Estado</th>
      <th scope="col">Capacidad de Personas</th>
      <th scope="col">Observaciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <th scope="row">Ambulancias</th>
      <td>  <div class="field">
                <%= @institucion.ambulanciascantidad %>
  </div></td>
      <td>  <div class="field">
    <%= @institucion.ambulanciasestado %>
  </div></td>
      <td><div class="field">
      <%= @institucion.ambulanciascapacidadpersonas %>
  </div></td>
  <td>  <div class="field">
    <%= @institucion.ambulanciasobservaciones %>
  </div></td>
    </tr>
    <tr>
      <th scope="row">Transporte Liviano</th>
      <td> <div class="field">
      <%= @institucion.transliviano %>
      </div></td>
      <td>  <div class="field">
      <%= @institucion.translivianoestado %>
  </div>
</td>
      <td>
  <div class="field">
        <%= @institucion.translivianopersonas %>
  </div></td>
  <td> <div class="field">
          <%= @institucion.translivianobservaciones %>
  </div></td>
    </tr>
    <tr>
      <th scope="row">Transporte Pesado</th>
      <td>
  <div class="field">
            <%= @institucion.transpesado %>
  </div></td>
      <td>  <div class="field">
          <%= @institucion.transpesadoestado %>
      </div></td>
      <td>
  <div class="field">
            <%= @institucion.transpesadopersonas %>
  </div></td>
  <td> <div class="field">
              <%= @institucion.transpesadosobservaciones %>
  </div></td>
    </tr>
     <tr>
      <th scope="row">Patrullas</th>
      <td>
  <div class="field">
    <%= @institucion.patrullas %>
  </div></td>
      <td>  <div class="field">
    <%= @institucion.patrullasestado %>
  </div></td>
      <td>
  <div class="field">
      <%= @institucion.patrullaspersonas %>
  </div></td>
      <td> <div class="field">
            <%= @institucion.patrullasobservaciones %>
    </div></td>
    </tr>
    <tr>
      <th scope="row">Carros Bomberos</th>
      <td> 
  <div class="field">
              <%= @institucion.carrosbomberos %>
  </div></td>
      <td>
  <div class="field">
                <%= @institucion.carrosbomberosestado %>
  </div></td>
      <td>
  <div class="field">
    <%= @institucion.carrosbomberospersonas %>
  </div></td>
      <td>  <div class="field">
    <%= @institucion.carrosbomberosobservaciones %>
  </div></td>
    </tr>
    <tr>
      <th scope="row">Cisternas</th>
      <td>  <div class="field">
          <%= @institucion.cisternas %>
  </div></td>
      <td><div class="field">
      <%= @institucion.cisternasestado %>
  </div></td>
      <td>  <div class="field">
    <%= @institucion.cisternaspersonas %>
  </div></td>
      <td>
  <div class="field">
    <%= @institucion.cisternasobservaciones %>
  </div></td>
    </tr>
    <tr>
      <th scope="row">Maquinaria Pesada</th>
      <td>  <div class="field">
      <%= @institucion.maquinariapesada %>
  </div></td>
      <td>  <div class="field">
            <%= @institucion.maquinariapesadaestado %>
  </div></td>
      <td>  <div class="field">
        <%= @institucion.maquinariapesadapersonas %>
  </div></td>
      <td>  <div class="field">
    <%= @institucion.maquinariapesadaobservaciones %>
  </div></td>
    </tr>
  </tbody>
  <h5>Equipos de Telecomunicaciones y tecnologia</h5>
</table>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Equipos</th>
      <th scope="col">cantidad</th>
      <th scope="col">estado(operable/inoperable)</th>
      <th scope="col">observaciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Radios</th>
      <td>
  <div class="field">
      <%= @institucion.equiporadios %>
  </div></td>
      <td>  <div class="field">
   <%= @institucion.equiporadios %>
  </div></td>
      <td>
  <div class="field">
     <%= @institucion.equiporadioobservaciones %>
  </div></td>
    </tr>
    <tr>
      <th scope="row">Comunicacion Satelital</th>
      <td>
  <div class="field">
    <%= @institucion.comunicacionesatelital %>
  </div>
</td>
   <td><div class="field">
        <%= @institucion.comunicacionesatelital %>
  </div></td>
      <td>
  <div class="field">
        <%= @institucion.satelitalobservaciones %>
  </div></td>
    </tr>
    <tr>
      <th scope="row">Gps</th>
      <td> <div class="field">
      <%= @institucion.gps %>
  </div></td>
      <td> <div class="field">
            <%= @institucion.gpsestado %>
  </div></td>
      <td> <div class="field">
                  <%= @institucion.gpsobservaciones %>
  </div></td>
    </tr>
     
  </tbody>
</table>
        </div>
        
      </div>
    </div>
  </div>
  <%= link_to 'Editar', edit_institucion_path(@institucion), :class=>"btn btn-primary" %> |
<%= link_to 'Atras', :class => "btn btn-warning"%>
</div>



</div>
</tr>
</br>
<div class="container">
<%= render "funcionarios" %>
</br>
<%= render "recursos" %>
</div>











   





























  