<p id="notice"><%= notice %></p>

                    
<% form_tag hojaderecursos_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] , class:'form-control p-input'%>
    <%= submit_tag "Buscar", :name => nil, class:'form-control p-input'%>
  </p>
<% end %>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title" ><h5 class="card-title mb-4" style="text-align:center">Informacion General de Hoja de Recursos</h5></h3>
  </div>
  <div class="panel-body">
    <canvas id="chart" width="500" height="500"></canvas>

  <table id="chartData">

    <tr>
      <th>Recursos</th><th>Total (#)</th>
     </tr>

    <tr style="color: #0DA068">
      <td>Gasolina</td><td><%= @Gasolina %></td>
    </tr>

    <tr style="color: #194E9C">
      <td>Comida</td><td><%= @Comida %></td>
    </tr>

    <tr style="color: #ED9C13">
      <td>Hombres</td><td>50</td>
    </tr>

    <tr style="color: #ED5713">
      <td>Perros</td><td>4</td>
    </tr>

    <tr style="color: #057249">
      <td>Vehiculos</td><td><%= @Vehiculos %></td>
    </tr>

    <tr style="color: #5F91DC">
      <td>Agua</td><td><%= @Agua %></td>
    </tr>

    <tr style="color: #F88E5D">
      <td>equipos</td><td><%= @Dinero %></td>
    </tr>
  </table>

  <div hidden class="wideBox">
    
  </div>

</div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">Numero Total de Equipo Desplegado</h3>
  </div>
  <div class="panel-body">
  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Total</th>
      <th scope="col">Gasolina</th>
      <th scope="col">Comida</th>
      <th scope="col">Hombres</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>20</td>
      <td>3</td>
      <td>50</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <th scope="col">Perros</td>
      <th scope="col">Vehiculos</td>
      <th scope="col">Agua</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>4</th>
      <td>5</td>
      <td>120</td>
    </tr>
  </tbody>
</table>

  </div>
  <div class="panel-footer">Panel footer</div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">Lista de Recursos Usados en Emergencias</h3>
    <form>
  <input name="q" <%= @q %> >
  <button type="submit"  >Buscar</button>
</form>
  </div>
  <div class="panel-body">
<table class="table table-dark" >
  <thead>
    <tr>
     <th>Nombre equipo</th>
      <th>Equipos despleagados</th>
      <th>Personas desplegados</th>
      <th>Vehiculos desplegados</th>
      <th>Identificador equipo</th>
    </tr>
  </thead>

  <tbody>
    <% @hojaderecursos.each do |hojaderecurso| %>
      <tr>
       <td><%= hojaderecurso.nombrequipo %></td>
        <td><%= hojaderecurso.equiposdespleagados %></td>
        <td><%= hojaderecurso.personasdesplegados %></td>
        <td><%= hojaderecurso.vehiculosdesplegados %></td>
        <td><%= hojaderecurso.identificadorequipo %></td>
        <td><%= link_to 'Show', hojaderecurso, :class => 'btn btn-primary'%></td>
        <td><%= link_to 'PDF', hojaderecurso_path(hojaderecurso  , :format => :pdf) , :class => 'btn btn-primary'%></td>
        <td><%= link_to 'Editar', edit_hojaderecurso_path(hojaderecurso), :class => 'btn btn-warning'  %></td>
        <td><%= link_to 'Eliminar', hojaderecurso, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
   <div class="panel-footer"><%= link_to 'Nueva Hoja de recursos', new_hojaderecurso_path , :class => 'btn btn-success' %></div>
</div>
  





