<%= form_with(model: recurso_evento, local: true) do |form| %>
  <% if recurso_evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recurso_evento.errors.count, "error") %> prohibited this recurso_evento from being saved:</h2>

      <ul>
      <% recurso_evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
                    <h5 class="card-title mb-4"> Recurso del Evento</h5>
                    <form class="forms-sample">
                      <div class="field">
                        <%= form.label :"solicitado por:  " %>
                        <%= form.select :solicitado,options_for_select(Organizacion.all.pluck(:nombre, :id)) %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :"fecha pedido: "  %>
                        <%= form.datetime_select :fechapedido, id: :recurso_evento_fechapedido, class: "form-control p-input"  %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :"clase:"  %>
                        <%= form.text_field :clase, id: :recurso_evento_clase , class: "form-control p-input" %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :tipo %>
                        <%= form.text_field :tipo, id: :recurso_evento_tipo , class: "form-control p-input" %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :fechallegada %>
                        <%= form.datetime_select :fechallegada, id: :recurso_evento_fechallegada , class: "form-control p-input" %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :institucion %>
                        <%= form.select :institucion,options_for_select(Organizacion.all.pluck(:nombre, :id), class: "form-control " ) %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :matricula %>
                        <%= form.text_field :matricula, id: :recurso_evento_matricula , class: "form-control p-input" %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :numeropersonas %>
                        <%= form.number_field :numeropersonas, id: :recurso_evento_numeropersonas , class: "form-control p-input" %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :estado %>
                        <%= form.select(:estado,options_for_select([['en uso', "false"], ['libre',"true"]], 2), class: "form-control p-input" )%>
                      </div>
                    
                      <div class="field">
                        <%= form.label :asignadoa %>
                        <%= form.text_field :asignadoa, id: :recurso_evento_asignadoa , class: "form-control p-input" %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :desmovilizadopor %>
                        <%= form.text_field :desmovilizadopor, id: :recurso_evento_desmovilizadopor , class: "form-control p-input" %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :fechadesmovilizacion %>
                        <%= form.datetime_select :fechadesmovilizacion, id: :recurso_evento_fechadesmovilizacion , class: "form-control p-input" %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :observaciones %>
                        <%= form.text_area :observaciones, id: :recurso_evento_observaciones , class: "form-control p-input" %>
                      </div>
          
                        </div>
                        <div style='width: 800px;'>
                          <div id="map" style='width: 800px; height: 0px;'></div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Registrar Recurso</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% end %>

