<div class="panel panel-success">
  <div class="panel-heading"><h4 class="panel-title" style="text-align:center">Numero de Funcionarios Activos del COED</h4></div>
    <div class="panel-body">
      <canvas id="chart" width="800" height="500"></canvas>
      <table id="chartData">
    <tr>
      <th>Funcionarios</th><th>Total (#)</th>
     </tr>

    <tr style="color: #0DA068">
      <td>En uso</td><td><%= @disponibles%></td>
    </tr>
    <tr style="color: #194E9C">
      <td>Libres</td><td><%= @enuso%></td>
    </tr>
 <!--
    <tr style="color: #ED9C13">
      <td>Medico</td><td>2</td>
    </tr>

    <tr style="color: #ED5713">
      <td>Buzo</td><td>0</td>
    </tr>

    <tr style="color: #057249">
      <td>Administrador</td><td>0</td>
    </tr>

    <tr style="color: #5F91DC">
      <td>General</td><td>0</td>
    </tr>
    
  
   
    <tr style="color: #788E5D">
      <td>Noviembre</td><td>6</td>
    </tr>
    <tr style="color: #623E5D">
      <td>Diciembe</td><td>1</td>
    </tr>
    -->
  </table>
  <div hidden class="wideBox">
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Recursos Pedidos</h3>
    <form>
  <input name="q" <%= @q %> >
  <button type="submit">Buscar</button>
</form>
  </div>
  <div class="panel-body">
    <table class="table table-dark">  <thead>
    <tr>

      <th>Fechapedido</th>

      <th>Asignadoa</th>
      <th>Desmovilizadopor</th>
      <th>Observaciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recurso_eventos.each do |recurso_evento| %>
      <tr>

        <td><%= recurso_evento.fechapedido %></td>

        <td><%= recurso_evento.asignadoa %></td>
        <td><%= recurso_evento.desmovilizadopor %></td>
        <td><%= recurso_evento.observaciones %></td>
        <td><%= link_to 'Mostrar', recurso_evento, class: "btn btn-primary" %></td>
        <td><%= link_to 'Editar', edit_recurso_evento_path(recurso_evento), class: "btn btn-warning" %></td>
        <td><%= link_to 'Eliminar', recurso_evento, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
  <div class="panel-footer"><%= link_to 'Nuevo Recurso Usado', new_recurso_evento_path, class: "btn btn-success"  %></div>
</div>
 

<br>


