<%= form_with(model: recurso, local: true) do |form| %>
  <% if recurso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recurso.errors.count, "error") %> prohibited this recurso from being saved:</h2>

      <ul>
      <% recurso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


                    
                    <form class="forms-sample">
                      <div class="field">
                        <%= form.label :nombre %>
                        <%= form.text_field :nombre, id: :recurso_nombre, class:"form-control"%>
                      </div>
                    
                      <div class="field">
                        <%= form.label :clase %>
                        <%= form.text_field :clase, id: :recurso_clase, class:"form-control" %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :tipo %>
                        <%= form.text_field :tipo, id: :recurso_tipo, class:"form-control" %>
                        
                      </div>
                    
                      <div class="field">
                        <%= form.label :matricula %>
                        <%= form.text_field :matricula, id: :recurso_matricula, class:"form-control" %>
                      </div>
                  
                      <div class="field">
                          <%= form.label :Estado %>
                          <%= form.select(:estado,options_for_select([['disponible', "disponible"], ['No disponible',"no disponible"], ['Reparacion',"reparacion"], ['asignado',"asignado"]], 4), class: "form-control p-input" )%>
                        </div>
            
    
                        </div>
                        <div style='width: 800px;'>
                          <div id="map" style='width: 800px; height: 0px;'></div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Guardar Recurso</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="float-right">
          <a href="#">COOED CBBA</a> &copy; 2017
      </span>
    </div>
</footer>
</div>
</div>

</div>


<% end %>

