<div class="panel panel-success">
  <div class="panel-heading"><h4 class="panel-title" style="text-align:center">INFORMACION DE TODOS LOS RECURSOS</h4></div>
    <div class="panel-body">
      <canvas id="chart" width="800" height="500"></canvas>
      <table id="chartData">
    <tr>
      <th>Funcionarios</th><th>Total (#)</th>
     </tr>

    <tr style="color: #0DA068">
      <td>Reparacion</td><td>1</td>
    </tr>

    <tr style="color: #194E9C">
      <td>Disponible</td><td>0</td>
    </tr>
 
    <tr style="color: #ED9C13">
      <td>Asignado</td><td>0</td>
    </tr>

    <tr style="color: #ED5713">
      <td>No disponible</td><td>0</td>
    </tr>
<!--
    <tr style="color: #057249">
      <td>Administrador</td><td>0</td>
    </tr>

    <tr style="color: #5F91DC">
      <td>General</td><td>0</td>
    </tr>
    
  
   
    <tr style="color: #788E5D">
      <td>Noviembre</td><td>6</td>
    </tr>
    <tr style="color: #623E5D">
      <td>Diciembe</td><td>1</td>
    </tr>
    -->
  </table>
  <div hidden class="wideBox">
  </div>
</div>
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h5 class="card-title mb-4">Informacion de Recursos</h5></h3>
    <form>
  <input name="q" <%= @q %> >
  <button type="submit">Buscar</button>
</form>
  </div>
  <div class="panel-body">
    <table class="table table-dark">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Clase</th>
      <th>Tipo</th>
      <th>Matricula</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recursos.each do |recurso| %>
      <tr>
        <td><%= recurso.nombre %></td>
        <td><%= recurso.clase %></td>
        <td><%= recurso.tipo %></td>
        <td><%= recurso.matricula %></td>
        <td><%= recurso.estado %></td>
        <td><%= link_to 'Mostrar', recurso , :class => 'btn btn-primary'%></td>
        <td><%= link_to 'Editar', edit_recurso_path(recurso) , :class => 'btn btn-warning'%></td>
        <td><%= link_to 'Eliminar', recurso, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
    <div class="panel-footer"><%= link_to 'Nuevo Recurso', new_recurso_path , :class => 'btn btn-success'%></div>
</div>


<br>
