<%= form_with(model: funcionario, local: true) do |form| %>
  <% if funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% funcionario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
                    <h5 class="card-title mb-4">Informacion de Funcionario</h5>
                    <form class="forms-sample">
                      <div class="field">
                        <%= form.label :nombre %>
                        <%= form.text_field :nombre, id: :funcionario_nombre, class:'form-control p-input' %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :apellido %>
                        <%= form.text_field :apellido, id: :funcionario_apellido, class:'form-control p-input' %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :celular %>
                        <%= form.text_field :celular, id: :funcionario_celular, class:'form-control p-input' %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :telefono %>
                        <%= form.text_field :telefono, id: :funcionario_telefono, class:'form-control p-input' %>
                      </div>
                    
                      <div class="field">
                        <%= form.label :correo %>
                        <%= form.text_field :correo, id: :funcionario_correo, class:'form-control p-input' %>
                      </div>
                      <div class="field">
                          <%= form.label :Ci %>
                          <%= form.text_field :ci, id: :funcionario_correo, class:'form-control p-input' %>
                        </div>
                        <div class="field">
                            <%= form.label :tipo %>
                            <%= form.select(:tipo,options_for_select([['Medico', "medico"], ['Buzo',"buzo"], ['Rescatista',"Rescatista"], ['Administrativo',"Administrador"], ['general',"general"]], 5), class: "form-control p-input" )%>
                          </div>
                        </div>
           
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Guardar Funcionario</button>
                        </div>
                    </form>
                    </body
            
      
<% end %>
  
