
<div class="panel panel-success">
  <div class="panel-heading"><h4 class="panel-title" style="text-align:center">Numero de Funcionarios Activos del COED</h4></div>
    <div class="panel-body">
      <canvas id="chart" width="800" height="500"></canvas>
      <table id="chartData">
    <tr>
      <th>Funcionarios</th><th>Total (#)</th>
     </tr>

    <tr style="color: #0DA068">
      <td>Rescate</td><td>0</td>
    </tr>

    <tr style="color: #194E9C">
      <td>Funcionario oficina</td><td>0</td>
    </tr>

    <tr style="color: #ED9C13">
      <td>Medico</td><td>2</td>
    </tr>

    <tr style="color: #ED5713">
      <td>Buzo</td><td>0</td>
    </tr>

    <tr style="color: #057249">
      <td>Administrador</td><td>0</td>
    </tr>

    <tr style="color: #5F91DC">
      <td>General</td><td>0</td>
    </tr>
    
  
    <!--
    <tr style="color: #788E5D">
      <td>Noviembre</td><td>6</td>
    </tr>
    <tr style="color: #623E5D">
      <td>Diciembe</td><td>1</td>
    </tr>
    -->
  </table>
  <div hidden class="wideBox">
  </div>
</div>
  <div class="panel panel-warning">
  <div class="panel-heading">
    <h4 class="panel-title" style="text-align:center">Lista de Funcionarios </h4>
    <form>
      <input name="q" <%= @q %> >
      <button type="submit">Buscar</button>
      </form>
      </div>
   <div class="panel-body">
    <table class="table table-dark">
      <thead>
        <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Celular</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Ci</th>
      <th>Funcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nombre %></td>
        <td><%= funcionario.apellido %></td>
        <td><%= funcionario.celular %></td>
        <td><%= funcionario.telefono %></td>
        <td><%= funcionario.correo %></td>
        <td><%= funcionario.ci %></td>
        <td><%= funcionario.tipo %></td>
        <td><%= link_to 'Mostrar', funcionario, :class => 'btn btn-primary'%></td>
        <td><%= link_to 'Editar', edit_funcionario_path(funcionario), :class => 'btn btn-warning'%></td>
        <td><%= link_to 'Eliminar', funcionario, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="panel-footer">    <%= link_to 'Nuevo Funcionario', new_funcionario_path , :class => 'btn btn-success'%></div>
</div>





