
<div class="panel panel-success">
  <div class="panel-heading"><h4 class="panel-title" style="text-align:center">Numero de Funcionarios Activos del COED</h4></div>
    <div class="panel-body">
      <canvas id="chart" width="800" height="500"></canvas>
      <table id="chartData">
    <tr>
      <th>Funcionarios con especialidades </th><th>Total (#)</th>
     </tr>

    <tr style="color: #0DA068">
      <td>Materiales Peligrosos</td><td><%= @materiaspeligroso %></td>
    </tr>

    <tr style="color: #194E9C">
      <td>Estructuras Colapsadas</td><td><%= @estructurascolapsadas %></td>
    </tr>

    <tr style="color: #ED9C13">
      <td>Busqueda y rescate</td><td><%= @busquedayrescate %></td>
    </tr>

    <tr style="color: #ED5713">
      <td>Rescate Acuatico</td><td><%= @rescateacuatico %></td>
    </tr>

    <tr style="color: #057249">
      <td>Manejador de Perros</td><td><%= @manejadordeperros %></td>
    </tr>

    <tr style="color: #5F91DC">
      <td>Extincion de incendios Urbanos</td><td><%= @extinciondeincendiosurbanos %></td>
    </tr>
    
  
    <!--
    <tr style="color: #788E5D">
      <td>Noviembre</td><td>6</td>
    </tr>
    <tr style="color: #623E5D">
      <td>Diciembe</td><td>1</td>
    </tr>
    -->
  </table>
  <div hidden class="wideBox">
  </div>
</div>
  <div class="panel panel-warning">
  <div class="panel-heading">
    <h4 class="panel-title" style="text-align:center">Lista de Funcionarios </h4>
    <form>
      <input name="q" <%= @q %> >
      <button type="submit">Buscar</button>
      </form>
      </div>
   <div class="panel-body">
    <table class="table table-dark">
      <thead>
        <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Celular</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Ci</th>
      <th>Funcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nombre %></td>
        <td><%= funcionario.apellido %></td>
        <td><%= funcionario.celular %></td>
        <td><%= funcionario.telefono %></td>
        <td><%= funcionario.correo %></td>
        <td><%= funcionario.ci %></td>
        <td><%= funcionario.tipo %></td>
        <td><%= link_to 'Mostrar', funcionario, :class => 'btn btn-primary'%></td>
        <td><%= link_to 'Editar', edit_funcionario_path(funcionario), :class => 'btn btn-warning'%></td>
        <td><%= link_to 'Eliminar', funcionario, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="panel-footer">    <%= link_to 'Nuevo Funcionario', new_funcionario_path , :class => 'btn btn-success'%></div>
</div>


<script>
// Bar chart
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: ["Accesibilidad y transporte", "Busqueda con perros", "Telecomunicaciones", "Evaluacion de daños", "Servicios Publicos", "Manejo de Materiales","Salvamiento Acuatico", "Busqueda y rescate en altura", "Salud y saneamiento","Extincion de incendios urbanos", "Incendios Forestales"],
      datasets: [
        {
          label: "Instituciones (Cantidad Total)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#8E44AD","#F5B041" ,"#a23185 " ,"#a72550","#E74C3C","#F7DC6F"],
          data: [<%=@actransporte%>,<%=@busquedaperros%>,<%=@telecomunicaciones%>,<%=@evaluaciondaños%>,<%=@serviciospublicos%>,<%=@manejomateriales%>,<%=@salvamientoacuatico%>,<%=@busquedaaltura%>,<%=@salud%>,<%=@incendioshurbanos%>,<%=@incendiosforestales%>]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Instituciones'
      }
    }
});
</script>




