<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     <form class="forms-sample" >
                        <div class="form-group">
                            <%= form.label :nombre %>
                            <%= form.text_field :title, id: :location_title , class:"form-control"%>
                          </div>
                        <div class="form-group">
                          
                              <%= form.label :Latitud %>
                              <%= form.text_field :latitude, id: :location_latitude ,class:"form-control" %>
                            
                        </div>
                        <div class="form-group">
            
                            <%= form.label :Longitud %>
                            <%= form.text_field :longitude, id: :location_longitude, class:"form-control" %>
                        
                        </div>
                        <div class="form-group">
                          <%= form.label :Direccion ,class: "exampleTextarea" %>
                          <%= form.text_field :address, id: :location_address , class:"form-control p-input"%>
                        </div>
                        <div class="form-group">
                            <%= form.label :Descripcion, class: "exampleTextarea" %>
                            <%= form.text_area :description, id: :location_description , class: "form-control p-input"%>
                        </div>  
                        <div class="form-group">
                        <%= form.label :Tipo, class: "exampleTextarea" %>
                        <%= form.select(:tipo,options_for_select([['Incedio', "incendio"], ['Inundacion',"inundacion"], ['Terremoto',"terremeto"], ['Sequia',"sequia"], ['Derrumbe',"derrumbe"]], 5), class: "form-control p-input" )%>
                        </div>
                    
                        <div style='width: 800px;'>
                          <div id="map" style='width: 800px; height: 0px;'></div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Guardar Incidente</button>
                        </div>
                        
                    </form>




<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/tether/dist/js/tether.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../node_modules/bootstrap-select/js/bootstrap-select.js"></script>
<script src="../js/bootstrap-select.js"></script>
<script src="../node_modules/chart.js/dist/Chart.min.js"></script>
<script src="../node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
<script src="../js/off-canvas.js"></script>
<script src="../js/hoverable-collapse.js"></script>
<script src="../js/misc.js"></script>
</body>

</html>


<% end %>

