     <form class="forms-sample" >
<p>
    <div class="form-control p-input">
  <strong>Latitud:</strong>
  <%= @location.latitude %>
    </div>
</p>

<p>
    <div class="form-control p-input">
  <strong>Longitud:</strong>
  <%= @location.longitude %>
    </div>
</p>

<p>
    <div class="form-control p-input">
  <strong>Direccion:</strong>
  <%= @location.address %>
    </div>
</p>

<p>
    <div class="form-control p-input">
  <strong>Descripcion:</strong>
  <%= @location.description %>
    </div>
</p>

<p>
    <div class="form-control p-input">
  <strong>Nombre:</strong>
  <%= @location.title %>
    </div>
</p>
<p>
    <div class="form-control p-input">
    <strong>Tipo:</strong>
    <%= @location.tipo %>
    </div>
  </p>
<p>
    <div style='width: 1000px;'>
        <div id="map" style='width: 1000px; height: 400px;'></div>
      </div>
      <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      </script>
</p>
</form>
<%= link_to 'Editar', edit_location_path(@location), :class => 'btn btn-success' %> |
<%= link_to 'Atras', locations_path , :class => 'btn btn-info'%> |
<%= link_to 'Nuevo Recurso Usado', new_recurso_evento_path, class: "btn btn-warning"%>



</body>


<div>
